.text_image_result1{
    border-radius: 10px;
    
    height: 350px;
    width: 290px;
    border:black;
}
 b{
    color: purple;
}
.mini_result{
    border-radius: 4px;
    background-color: grey;
    width: 460px;
    height: 100px;
}
#image{
    height: 310px;
    width: 290px;
    border-radius: 5px;
}
.mini_result h4{
    padding-top: 10px;
}
h2 img{
    height: 29px;
    width: 26px;
}
h2{
    text-align: center;
}
.text_image_result{
    margin-left: 10px;
}